.song-row {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #444;
    color: #fff;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.song-row:hover {
    background-color: #222;
    transform: scale(1.02);
}

.song-index {
    width: 30px;
    text-align: right;
    margin-right: 10px;
}

/* Style the song image */
.song-image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 5px;
}

.song-title {
    flex: 2;
}

.song-album,
.song-artist,
.song-duration {
    flex: 1;
    text-align: center;
}

.delete-icon, .comment-icon {
    color: #f44336;
    cursor: pointer;
    margin-left: 10px;
    transition: transform 0.2s;
}

.delete-icon:hover, .comment-icon:hover {
    transform: scale(1.2);
}

/* Comments Section */
.comments-section {
    margin-top: 10px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

.comments-section h4 {
    margin-bottom: 10px;
    color: #fff;
}

.comment-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.comment-row p {
    margin: 0;
    color: #ddd;
}

.comment-row button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.comment-row button:hover {
    background-color: #e57373;
}

.comments-section input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #222;
    color: white;
}
